@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --primary-color: #04aa6d;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar {
  background-color: #fff;
  height: 70px;
  padding: 5px 10px;
  position: relative;
}

.navbar img {
  height: 60px;
  width: 60px;
}

.navbar a {
  color: black;
}
/* NAV1 */
.nav1 {
  position: absolute;
  left: 75px;
}

.nav1 ul {
  display: flex;
}

.nav1 li {
  padding: 24px 16px;
}

.nav1 li:hover {
  background-color: var(--primary-color);
}

.btn-video a {
  position: relative;
}

.newbtn {
  background-color: #fff;
  border: 1px solid black;
  position: absolute;
  top: 25px;
  right: -22px;
  padding: 5px;
  font-size: 10px;
}

/* NAV2 */
.nav2 {
  position: absolute;
  left: 63%;
}

.nav2 ul {
  display: flex;
}

.nav2 li {
  padding: 0px 10px;
}
.nav2 a:hover {
  color: #04aa6d;
}
/* NAV3 */
.nav3 {
  display: flex;
  justify-content: flex-end;
}

.nav3 button {
  margin: 0px 6px;
}

button {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn1 {
  background-color: #ffc0c7;
}

.btn2 {
  background-color: #fff;
}

.btn1:hover {
  background-color: var(--primary-color);
}

.btn2:hover {
  background-color: var(--primary-color);
}

.btn3 {
  color: #fff;
}
/* SECTION1 - LEFT CONTENT */
.section1 {
  background-color: #282a35;
  padding: 35px;
}

.section1 h1 {
  font-size: 100px;
  font-weight: 800;
  color: #fff;
}

.left-content p {
  font-size: 21px;
  color: #fff;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.button1,
.button2,
.button3,
.button4 {
  width: 200px;
  padding: 12px 24px;
  display: block;
}
.button1 {
  color: #fff;
  font-size: 18px;
}

.button2 {
  background-color: #fff4a3;
}

.button3 {
  background-color: #fff;
}

.newbutton {
  background-color: #ffc0c7;
  width: 60px;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  transform: rotate(-20deg);
  left: -20px;
  top: -5px;
}

.new-btn {
  position: relative;
}
/* SECTION1 - RIGHT CONTENT */
.card {
  background-color: #e7e9eb;
  border-radius: 5px;
  padding: 3%;
  margin: 33px;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12);
}

.right-content p {
  background-color: #fff;
  border-left: 4px solid var(--primary-color);
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px 12px;
  width: auto;
}

.button4 {
  color: #fff;
}

/* ostalo.. */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* SECTION2 */
.section2 {
  background-color: #d9eee1;
  padding: 35px;
}
.section2 h1 {
  font-size: 100px;
  font-weight: 700;
  margin: 2px 0px -20px;
}
.section2 .left-content p {
  color: black;
  font-weight: bold;
}
.button5,
.button6 {
  color: #fff;
  width: 200px;
  display: block;
  padding: 12px 24px;
}
.button6 {
  background-color: #282a35;
}
button:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.3);
}

/* MIDDLE */
.middle {
  background-color: #282a35;
  grid-template-columns: 50% 50%;
  padding: 64px;
}

.section1-middle,
.section2-middle,
.section3-middle,
.section4-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 1);
  padding: 24px;
  margin: 20px;
}

.section1-middle h1,
.section2-middle h1,
.section3-middle h1,
.section4-middle h1 {
  font-size: 65px;
  font-weight: 800;
  margin: 10px 0px;
}

.section1-middle p,
.section2-middle p,
.section3-middle p,
.section4-middle p {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

.section1-middle {
  background-color: #ffc0c7;
}
.section2-middle {
  background-color: #fff4a3;
}
.section3-middle {
  background-color: #f3ecea;
}
.section4-middle {
  background-color: #d9eee1;
}

.middle .button6 {
  padding: 12px 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
}

.middle button:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.3);
}

/* MIDDLE 2*/
.middle2 .grid {
  grid-template-columns: repeat(4, 1fr);
}

.middle2 {
  margin-top: 40px;
  cursor: pointer;
}

.middle2 h5 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.middle2-card1 {
  background-color: #ffc0c7;
}
.middle2-card2 {
  background-color: #fff4a3;
}
.middle2-card3 {
  background-color: #f3ecea;
}
.middle2-card4 {
  background-color: #d9eee1;
}
.middle2-card5 {
  background-color: #96d4d4;
}
.middle2-card6 {
  background-color: #ffc0c7;
}
.middle2-card7 {
  background-color: #fff4a3;
}
.middle2-card8 {
  background-color: #f3ecea;
}

.middle2-card1,
.middle2-card2,
.middle2-card3,
.middle2-card4,
.middle2-card5,
.middle2-card6,
.middle2-card7,
.middle2-card8 {
  margin: 20px;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12);
}

.middle2-card1:hover,
.middle2-card2:hover,
.middle2-card3:hover,
.middle2-card4:hover,
.middle2-card5:hover,
.middle2-card6:hover,
.middle2-card7:hover,
.middle2-card8:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

/* MIDDLE 3 */

.middle3 .grid {
  grid-template-columns: 1fr 1fr;
}

.crd {
  padding: 40px 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12);
}

.middle3-card1 {
  background-color: #04aa6d;
  color: #fff;
}
.middle3-card2 {
  background-color: #d9eee1;
}
.middle3-card3 {
  background-color: #ffc0c7;
}
.middle3-card4 {
  background-color: #fff4a3;
}

.middle3 h6 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.middle3-card1:hover,
.middle3-card2:hover,
.middle3-card3:hover,
.middle3-card4:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}
